.open-sans-nrml {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.sec-bg {
    background-color: #ffede1;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: #181818;
}

.section-des {
    font-size: 15px;
    font-weight: 400;
    color: #181818;
}

/* header */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.r-style {
    color: #fd6e0a;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

.dark-2 {
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #fd6e0a;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}

/* banner */
.banner-container {
    max-width: 520px;
    height: 280px;
}

.b-greeting {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0px;
}

.b-title {
    font-size: 68px;
    font-weight: bold;
    margin: 0px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 100px;
}

.btn-primary1 {
    background-color: #f7f4f4;
    font-weight: bold;
    font-size: 20px;
    color: #fd6e0a;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}

main {
    max-width: 1100px;
    margin: 0px auto;
    text-align: center;
}

/* about-style */
.about {
    border-radius: 10px;
    padding: 100px;
    margin-top: 90px;
    text-align: center;
}

.about-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 0;
    margin-top: 40px;
}

.item-title {
    font-size: 16px;
    color: #757575;
}

.item-des {
    font-size: 17px;
    font-weight: bold;
    color: #474747;
}

/* what to do */
.what {
    text-align: center;
    max-width: 1100px;
    margin: 80px auto;
}

.what .section-des {
    max-width: 800px;
    margin: 30px auto;
}

.skil-continer {
    display: flex;
    gap: 90px;
    /* margin-bottom: 40px; */
}

.skill {
    text-align: left;
    max-width: 160px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-des {
    font-size: 14px;
    opacity: 80%;
}
/* resume*/
.fast-smry{
    margin-bottom: 50px;
}
.resume-details {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 90px;
    /* margin-top: 30px */
}
.education, .experience{
    width: 450px;
}
.date, .ex-date{
    font-size: 12px;
    font-weight:lighter;
    opacity: 85%;
}
.deg-des, .ex-des{
    font-size: 11px;
    opacity: 70%;
}